body {
	color: black;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 14pt;
	margin: 0 auto;
	}

h1.title {
	font-size: 36pt;
	font-variant: small-caps;
	font-weight: bold;
	text-align:center;
	margin-top: 15px;
	margin-bottom: 0px; 
	}

h2.titletop {
	font-size: 18pt;
	font-weight: normal;
	text-decoration: underline;
	font-variant: small-caps;
	padding-bottom: 5px;
	margin-bottom: 15px;
}

h2.title {
	font-size: 25pt;
	font-weight: normal;
	text-decoration: overline underline; 
	font-variant: small-caps;
	padding-bottom: 2px;
	margin-top: 25px;
	margin-bottom: 25px;}
	
h4.title {
	font-size: 12pt;
	font-weight: oblique;
	text-decoration: none; 
	font-variant: small-caps;
	padding-bottom: 2px;
	margin-top: 0px;
	margin-bottom: 10px;}

ul { margin:0px; padding:0; list-style:bullet; }
li { margin-left:20px; margin-bottom:5px; padding:0;  }

a { text-decoration:underline; font-weight: bold; }
a:link, a:visited { color:#fff ; }	
a:link.resume , a:visited.resume  { color:black; text-decoration:none; }	
a:hover, a:hover.resume { color: #7B68EE; background-color: #DCDCDC; text-decoration: none; }	

img {border: double 1px black; }

p.tag { text-align:center; font-size: 14pt; font-weight: normal; text-decoration: none; font-variant: small-caps; }
a:link.tag, a:visited.tag { color:black; text-decoration: none; }
a:hover.tag { color: #7B68EE; background-color:#DCDCDC; text-decoration: none; }



.printonly { display:none; }
.pagebreak { display:none; }
#printheader { display:none; }

#wrap {margin:0 auto; background: #D8BFD8; border-left: double 10px black; border-right: double 10px black;  }

#header { background:#ddd; padding:5px 10px; text-align:center }

#nav { background:#c99; padding:5px 10px; text-align:center; }

#nav li  { display: inline; list-style-type: none; padding-right: 20px; font-size: 14pt; font-weight:normal; font-variant:small-caps;}

#main {background: #D8BFD8; float:left; width:580px; padding-top:0px; padding-left:10px; padding-right:10px; padding-bottom:2px; margin-bottom:0; height:1275px;  text-align:center}

#resume {background: #D8BFD8; margin:auto; padding:10px; text-align:left;  }

#lsidebar { background: 	#FFE6CC; float:left; width:500px; padding:0px; text-align:center}

#footer { background:#F5F5DC; clear:both; padding:5px 5px;  text-align:center}



/* Star hack for IE 6 bug */
* html #footer { height:1px; }


.title2 {
	font-size: 14pt;
	font-weight: normal;
	text-decoration: none;
	font-variant: small-caps;
	padding-bottom: 0px;
	margin-top: 30px;
	margin-bottom: 2px;
}
.polaroid {
			border: dotted 6px black; 
			background: #fff;
			width: 400px;
			padding: 20px;
			margin-right: auto;
			margin-left: auto;
			margin-top: 20px;
			margin-bottom: 20px;
			text-align: center;
			}



